.header {
  background-color: #333;
  color: #fff;
}

.day {
  background-color:lightblue;
  color: #fff;
  background-image : url("res://bg_sunny.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.night {
  background-color: lightslategray;
  opacity: 0.7;
  color: #fff;
  background-image : url("res://bg_sunny_night");
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}
.ion {
  font-family: Ionicons, ionicons;
  font-size:40;
}
Page {
  margin-top: -20;
}
/*.add-bar{
  margin-top: 20;
}*/