
<GridLayout orientation="vertical" rows="auto, *" tkExampleTitle tkToggleNavButton  class="parent_stack">
     <ActivityIndicator busy="{{ is_loading }}" visibility="{{ is_loading ? 'visible' : 'collapsed' }}"></ActivityIndicator>
     <SearchBar row="0"class="add-bar" row="0" #sb hint="Search for city press enter" (clear)="onClear()" [text]="searchPhrase" (submit)="onSubmit(sb.text)"></SearchBar>
    <RadListView #myListView [items]="cityWeatherList"  visibility="{{ !is_loading ? 'visible' : 'collapsed' }}" class="small-spacing" row="1" selectionBehavior="None" (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
        (itemSwipeProgressStarted)="onSwipeCellStarted($event)" (itemSwipeProgressChanged)="onCellSwiping($event)" swipeActions="true">
    <!-- >> (hide) -->
        <template tkListItemTemplate let-item="item">
           <GridLayout class="item_day" [class.daytime]="!item.night" [class.nighttime]="item.night" columns="*,auto" rows="auto" >
            <StackLayout class="day-weather" row="0" col="0" (tap)="detail(item.city)">
                      <Label text="{{ item.city }}" ></Label>
            </StackLayout>
            <StackLayout class="day-weather" row="0" col="1"> 
                      <GridLayout columns="*,auto" rows="*,auto" row="0" col="0" >
                          <Label row="0" col="0" text="{{ item.time}}" class="small-icon" (tap)="detail(item.city)"></Label>
                          <Label row="1" col="0"text="{{ item.temperature}}" class="small-icon"></Label>
                     </GridLayout>   
              </StackLayout>
           </GridLayout>
        </template>
    <!-- >> angular-listview-swipe-actions-template-html -->
        <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
             <StackLayout id="mark-view" col="0" class="markViewStackLayout" (tap)="onLeftSwipeClick($event)">
                <Label  class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout id="delete-view" col="2" class="deleteViewStackLayout" (tap)="onRightSwipeClick($event)">
                <Label text="delete" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
            </StackLayout>
        </GridLayout>
    <!-- << angular-listview-swipe-actions-template-html -->
    <!-- << (hide) -->
    </RadListView>
<!-- << angular-listview-swipe-actions-set-enabled-html -->
</GridLayout>
