.parent_stack{
  margin-top: 20;
}
RadCartesianChart{
  height:300px
}
ListView{
  height:2500;
}
.temperature {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.weather {
  font-size: 30px;
  text-align: center;;
}

.place {
  font-size: 20px;
  text-align: center;
}

.icon {
  font-family: 'weathericons, Weather Icons';
  font-size: 100px;
  text-align: center;
}

.small-icon {
  font-family: 'weathericons, Weather Icons';
  font-size: 18px;
  margin-right: 5px;
}

.details {
  margin-top: 20px;
  padding: 30px;
  font-size: 18px;
}
.parent_stack{
  margin-top: 20px;
}
.label {
  font-weight: bold;
}

.details Label {
  padding: 5px 0;
}

Button {
  margin: 20px;
}
Page {
  font-size: 15px;
}
ListView{
  background-image : url("res://sunny_day") center none;
}
.item {
  padding: 20px 10px;
  background-color: lightslategray;
  background-image : url("res://sunny_day") center none;
  color: #fff;
}
.sunnytime{
  opacity: 0.8;
  background-image : url("res://sunny_day") center none;
}
.raintime{
  opacity: 0.9;
  background-image: url("res://rain_drops") center none;
}
.day-weather {
  text-align: center;
}

.details {
  horizontal-align: left;
}

.date {
  font-size: 20px;
}

.icon {
  font-family: 'weathericons, Weather Icons';
  font-size: 30px;
}

.temp {
  padding: 3px;
  text-align: center;
  font-size: 15px;
}

.day-temp {
  background-color: #d0c110;
}

.night-temp {
  background-color: #505050;
}

.small-icon {
  font-family: 'weathericons, Weather Icons';
  margin-right: 5px;
  text-align: center;
}